{% set ready = true %}
{% for policy in _policy_updated_times %}
  {% set policy_time = policy.updateTime %}
  {% set plugin_cond = '?serviceName==`' ~ policy.service ~ '`' %}
  {% set plugin_q = '[' ~ plugin_cond ~ '].info.policyActivationTime' %}
  {% set plugin_time = _plugins_info.json | json_query(plugin_q) | min %}
  {% if policy_time > plugin_time %}
    {% set ready = false %}
  {% endif %}
{% endfor %}
{{ ready }}
