{% set policy_name = policy.name ~ postinstall_policy_suffix %}
isEnabled: true
service: {{ policy.meta.plugin }}
name: {{ policy_name }}
policyType: 0
policyPriority: 1
description: "Override policy for provisioning tasks"
isAuditEnabled: true
policyLabels: ["provisioning_temp"]
serviceType: {{ policy.meta.type }}
isDenyAllElse: false
resources: {{ policy.meta.resources | to_json }}
policyItems:
{% set c_query = 'meta.ranger[?ranger_policy==`' ~ policy.name ~ '`].accesses' %}
{% for cred in combined_postinstall_credentials %}
{% for accesses in cred | json_query(c_query) %}
- accesses:
{% for access in accesses %}
  - type: {{ access }}
    isAllowed: true
{% endfor %}
  users:
  - {{ postinstall_user_prefix }}{{ cred.name }}
  groups: []
  roles: []
  conditions: []
  delegateAdmin: false
{% endfor %}
{% endfor %}
