loginId: "{{ xusername }}"
name: "{{ xusername }}"
publicScreenName: "{{ xusername }}"
password: "{{ xpassword }}"
status: 0
isVisible: 1
userSource: 1
userRoleList: [ ]
userPermList: [ ]
groupPermissions: []
